{% extends 'base.html'  %}
{% block title %}Boggle Game{% endblock %}

{% block content %}
<h1>BOGGLE</h1>
<table class="box">
    <tbody>
      {%for row in board%}
        <tr>
         {%for cell in row%}
            <td>{{cell}}</td> 
         {%endfor%}
        </tr>   
      {%endfor%}
    </tbody>
</table>
<form id='input-word' method="POST">
    <input type="text" class='word' placeholder="word" name="word" autofocus>
    <button class="button">Check!</button>
</form>

<!-- why is the form not a post method? -->

<section>
    <p>High Score: {{highscore}}</p>
    <p>Played: {{num_play}} times</p>

    <p>
        Score: <b class="score">0</b>
        Seconds Left: <b class="timer"></b>
    </p>

    <ul class="words">
        <!-- li will be appended after checking for validation-->   
    </ul>

    <p class="msg">
        <!-- our JS will put messages here dynamically -->
    </p>
</section>
{% endblock %}